<h1>online shop</h1>

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>淘宝界面</title>
  
    
 </head>
 <body>
  <div id="top">
   <div id="top1">
    
    <div style="left: ;">
    
     <a href="#">我的淘宝</a>
     <a href="#">购物车</a>
     <a href="#">收藏夹</a>
     <a href="#">商品分类</a>
     <a href="#">卖家中心</a>
     <a href="#">联系客服</a>
     <a href="#">网站导航</a>
    </div>
   </div>
   <div id="top2">
    <!--分为两个div，都向左浮动，搜索框部分注意调整左外边距与顶外边距的距离 -->
    <!--搜索框和搜索框下面的文字拆分为连个标签部分，由于统一居中，所以搜索框需要进行重定位-->
    <div style="margin-top: 20px; text-align: center;">
     <input type="text" name="search" style="width: 500px; height: 25px; border: 1px solid gray; outline: none; border-radius: 2px;" />
     <input type="submit" value="搜 索" />
    </div>
   </div>
  </div>

  
  
  <!--主体部分（商品展示，这里使用表格）-->
  <div id="main">
   <!--表格，宽度与浏览器宽度一致，列控制每列的宽度，复制后自适应数量-->
   <table width="100%">
    <!--两行五列-->
    <tr align="center">
     <td>
      <a href="https://detail.tmall.com/item.htm?id=605759180890&ali_refid=a3_430673_1006:1123242276:N:MUZf2Ydl3C45NvWUhopgx3qQ32S+iRDl:cd9982ba6d6de48464d675fec686ee6a&ali_trackid=1_cd9982ba6d6de48464d675fec686ee6a&spm=a2e15.8261149.07626516002.1">
      <%=image_tag('books01.jpg', width:'150px') %>
      <!--&yen表示人民币-->
      <p style="color: orange;">&yen 160.00 包邮</p>
      <p>包邮 TASCHEN原版 Cities</p>
      <p style="color: gray;">品图图书专营店</p>
      <p style="color: gray;" align="right">如实描述：4.9</p>
     </td>
     <td>
      <a href="https://detail.tmall.com/item.htm?id=521707141723&ali_refid=a3_430673_1006:1103904450:N:GpUmIdmyLOTa+vijgufG4w==:bcd99ac4e662e95ddfac28645ee3334d&ali_trackid=1_bcd99ac4e662e95ddfac28645ee3334d&spm=a2e15.8261149.07626516002.16">
      <%=image_tag('books.jpg', width:'150px') %>
      <!--&yen表示人民币-->
      <p style="color: orange;">&yen 144.00 包邮</p>
      <p>小王子立体书正版原版世界经典文学作品</p>
      <p style="color: gray;">乐乐趣旗舰店</p>
      <p style="color: gray;" align="right">如实描述：4.9</p>

     </td>
