  <!--主体部分（商品展示，这里使用表格）-->
  <div id="main">
   <!--表格，宽度与浏览器宽度一致，列控制每列的宽度，复制后自适应数量-->
   <table width="100%">
    <!--两行五列-->
    <tr align="center">
     <td>
      <a href="https://detail.tmall.com/item.htm?id=605759180890&ali_refid=a3_430673_1006:1123242276:N:MUZf2Ydl3C45NvWUhopgx3qQ32S+iRDl:cd9982ba6d6de48464d675fec686ee6a&ali_trackid=1_cd9982ba6d6de48464d675fec686ee6a&spm=a2e15.8261149.07626516002.1">
      <%=image_tag('books01.jpg', width:'150px') %>
      <!--&yen表示人民币-->
      <p style="color: orange;">&yen 160.00 包邮</p>
      <p>包邮 TASCHEN原版 Cities</p>
      <p style="color: gray;">品图图书专营店</p>
      <p style="color: gray;" align="right">如实描述：4.9</p>
     </td>
     <td>
      <a href="https://detail.tmall.com/item.htm?id=521707141723&ali_refid=a3_430673_1006:1103904450:N:GpUmIdmyLOTa+vijgufG4w==:bcd99ac4e662e95ddfac28645ee3334d&ali_trackid=1_bcd99ac4e662e95ddfac28645ee3334d&spm=a2e15.8261149.07626516002.16">
      <%=image_tag('books.jpg', width:'150px') %>
      <!--&yen表示人民币-->
      <p style="color: orange;">&yen 144.00 包邮</p>
      <p>小王子立体书正版原版世界经典文学作品</p>
      <p style="color: gray;">乐乐趣旗舰店</p>
      <p style="color: gray;" align="right">如实描述：4.9</p>

     </td>
     <td>
      <a href="https://item.taobao.com/item.htm?spm=a21wu.241046-us.4691948847.5.41cab6cb0Lfw9a&scm=1007.15423.84311.100200300000005&id=1734557633&pvid=c09229f0-594f-4ce3-844c-5591d57fd8a0">
      <%=image_tag('11.jpg', width:'150px') %>
      <!--&yen表示人民币-->
      <p style="color: orange;">&yen 3800.00 包邮</p>
      <p>沙滩车四轮越野 125CC大公牛沙滩车 四轮沙滩越野车 沙滩摩托车</p>
      <p style="color: gray;">爱跑智能车工厂</p>
      <p style="color: gray;" align="right">如实描述：4.9</p>

     </td> 